@charset "utf-8";
body { margin:0px; padding:0px; }
.menu_bg { width:169px; background:#bad1e9; }
.menu_border { width:7px; background:#d6e5f6; }
.menu_out { background:url(../images/left_menu_01.jpg) right; height:40px; }
.menu_out img { margin-left:5px; vertical-align:middle; display:inline-block; }
.menu_out a { font-size:12px; line-height:40px; text-decoration:none; color:#fff; display:inline-block; margin-left:5px; }
.menu_over { background:url(../images/left_menu_02.jpg) right; height:40px; }
.menu_over img { margin-left:5px; vertical-align:middle; display:inline-block; }
.menu_over a { font-size:12px; line-height:40px; text-decoration:none; color:#00689c; display:inline-block; margin-left:5px; }
.menu_con { background:url(../images/left_menu_03.jpg) #f0f4f8 bottom repeat-x; }
.menu_con a { display:block; height:35px; line-height:35px; padding-left:35px; font-size:12px; color: #242424; text-decoration:none; }
.menu_con a:hover { background:#e4eef8; text-decoration:underline; }














