@charset "utf-8";
.table_div { border:solid 1px #76a9e1; }
.table_border { border-collapse:collapse; background:#FFFFFF; }
.table_border td { border:solid 1px #cee0f4; padding:3px; }
.table_border td.title { background:url(../images/td_bg.jpg) top repeat-x #e9f1fa; text-align:right; padding:8px 3px; color:#242424; }
.table_border td.anniu { background:#e9f1fa; text-align:center; }

.form_input { border:dotted 1px #c4d8ef; font-size:12px; padding:3px; background:#f6fafe; color:#76ABCB; }
.form_botton { background:url(../images/anniu.png) center repeat-x; padding:6px 15px; font-weight:bold; cursor:pointer; color:#FFFFFF; border:3px solid #cee0f4; }

.table_list { margin:0px 20px; }
td.table_list_title { background:url(../images/table_list_bg.png); height:31px; padding:0px; border-bottom:3px solid #cee0f4; text-align:center; line-height:31px; font-weight:bold; color:#FFFFFF; }
td.title_border_a { border-right:0px; }
td.title_border_b { border-right:0px;border-left:0px; }
td.title_border_c { border-left:0px; }

