@charset "utf-8";
body { margin:0px; padding:0px; background: url(../images/main_bg.jpg); font-size:12px; }
p,ul,li { margin:0px; padding:0px; list-style:none; }
a { color:#007fe1; text-decoration:none; }
img { border:0px; }
.mianbaoxie { background:url(../images/mianbaoxie.jpg); padding-left:10px; height:27px; line-height:27px; font-size:12px; color:#919191; }
.mianbaoxie a { text-decoration:none; }
.mianbaoxie div.menu { display:inline-block; position:relative; z-index:10 }  


.tab_search { margin:0px 20px; }
.tab_top { background: url(../images/tab_bg.gif) bottom repeat-x; height:29px; }
.tab_text { display:inline-block; height:29px; cursor:pointer; }
.tab_text_left { background:url(../images/tab_left.gif); width:31px; height:29px; float:left; }
.tab_text_right { background:url(../images/tab_right.gif); width:52px; height:29px; float:left; }
.tab_text_con { color:#FFFFFF; font-weight:bold; height:29px; line-height:29px; float:left; background:#76a9e1; }

.tab_text_over { display:inline-block; height:29px; cursor:pointer; margin-right:-25px; z-index:5; position:relative; zoom:1}
.tab_text_over .left { background:url(../images/left.png); width:23px; height:29px; float:left; }
.tab_text_over .right { background:url(../images/right.png); width:23px; height:29px; float:left; }
.tab_text_over .con { color:#FFFFFF; font-weight:bold; height:29px; line-height:29px; float:left; background:#76a9e1; }

.tab_text_out { display:inline-block; height:29px; cursor:pointer; margin-right:-25px; z-index:1; position:relative; }
.tab_text_out .left { background:url(../images/left2.png); width:23px; height:26px; float:left; }
.tab_text_out .right { background:url(../images/right2.png); width:23px; height:26px; float:left; }
.tab_text_out .con { color:#FFFFFF; font-weight:bold; height:26px; line-height:26px; float:left; background:#b8d2f0; }


.table_div { border:solid 1px #76a9e1; }
.table_border { border-collapse:collapse; background:#FFFFFF; }
.table_border td { border:solid 1px #cee0f4; padding:3px; }
.table_border td.title { background:url(../images/td_bg.jpg) top repeat-x #e9f1fa; text-align:right; padding:8px 3px; color:#242424; }
.table_border td.anniu { background:#e9f1fa; text-align:center; }

.form_input { border:dotted 1px #c4d8ef; font-size:12px; padding:3px; background:#f6fafe; color:#76ABCB; }
.form_botton { background:url(../images/anniu.png) center repeat-x; padding:6px 15px; font-weight:bold; cursor:pointer; color:#FFFFFF; border:3px solid #cee0f4; }

.table_list { margin:0px 20px; }
td.table_list_title { background:url(../images/table_list_bg.png); height:31px; padding:0px; border-bottom:3px solid #cee0f4; text-align:center; line-height:31px; font-weight:bold; color:#FFFFFF; }
td.title_border_a { border-right:0px; }
td.title_border_b { border-right:0px;border-left:0px; }
td.title_border_c { border-left:0px; }

.paixu_1 { background:url(../images/paixu_1.png) right center no-repeat; margin-right:10px; cursor:pointer; }
.paixu_2 { background:url(../images/paixu_2.png) right center no-repeat; margin-right:10px; cursor:pointer; }
.paixu_3 { background:url(../images/paixu_3.png) right center no-repeat; margin-right:10px; cursor:pointer; }

.page { margin:0 20px; text-align:right; margin-top:10px; }
.page a { margin:0 5px; }
.page a:hover { text-decoration:underline; }
.page_input { border:solid 1px #76a9e1; padding:3px; height:16px; width:24px; text-align:center }
.page_anniu { background:url(../images/anniu.png) center repeat-x; height:24px; border:solid 1px #76a9e1; color:#FFFFFF; font-weight:bold; cursor:pointer; }

.meeting_map_div { position:relative; }
.meeting_map_div2 { background: url(../images/big_meeting2.jpg); width:1900px; height:692px; position:relative; }
.meeting_div { margin:0 20px; overflow-x:auto; overflow-y:auto; position:relative; }
.meeting_div_anniu {margin-top:5px; background:url(../images/meeting_anniu_bg.png) bottom repeat-x #e7eef7; height:70px; border:solid 1px #76a9e1; border-bottom:0px; text-align:left; }
.anniu_a { height:72px; width:72px; text-align:center; overflow:hidden; display: inline-block; margin:0px; vertical-align:middle;color:#8d9cbc; }
.anniu_a img { margin:8px; }
.anniu_line { background:url(../images/meeting_anniu_line.png) center no-repeat; display:inline-block; width:2px; height:35px; vertical-align:middle; font-weight:bold; }


.map_title { margin:20px; }
.map_title_ico1 { background:url(../images/yizi_ico.gif) left center no-repeat; padding-left:50px; }
.map_title p.a { margin:0px; padding:0px; font-size:24px; font-weight:bold; font-family:"微软雅黑", "黑体"; color:#0095cf; line-height:30px; }
.map_title p.b { margin:0px; padding:0px; color:#333333; font-weight:bold; }




/*弹出层样式*/.mask_div  { position:fixed; _position:absolute; width:100%; height:100%; background:#000000; filter: alpha(opacity=50); opacity: 0.50; -moz-opacity: 0.50; -khtml-opacity: 0.50; z-index:200; }
		     .mask_div2 { position:absolute; width:100%; height:100%; z-index:300; }

.open_div { width:1042px; position:relative; margin-top:100px; position:relative; }
.open_div_left { width:748px; height:535px; float:left; }
.open_div_right { background: url(../images/open_div_bg2.png); width:294px; height:535px; float:left; }
.open_div_title { font-family:"微软雅黑", "黑体"; font-size:24px; font-weight:bold; color:#bba487; float:left; width:260px; margin-bottom:10px; margin-top:65px; }
.open_div_list { float:left; font-size:12px; width:260px; }
.open_div_list ul { width:260px; float:none; clear:both; padding:5px 0px; overflow:hidden; line-height:24px; border-bottom:dotted 1px #e8d8c4; }
.open_div_list li { float:left; }
.open_div_list li.a { width:190px; padding-left:10px; }
.open_div_list li.b { width:60px; text-align:center; }
.close { background:url(../images/close.png); width:32px; height:32px; cursor:pointer; position:absolute; top:50px; right:10px; display:block; }


.tips_a { background:url(../images/tip1.png); width:622px; height:355px; margin:0 auto; margin-top:150px; }
.tips_a p.a { font-size:24px; font-weight:bold; font-family:"微软雅黑", "黑体"; color:#009900; padding-top:100px; margin-left:50px; }
.tips_a p.b { font-size:12px; color:#666666; height:140px; margin-left:50px; padding-top:10px; width:500px; }
.tips_a p.c { margin-left:50px; font-size:12px; }

.tips_b { background:url(../images/tip2.png); width:622px; height:355px; margin:0 auto; margin-top:150px; }
.tips_b p.a { font-size:24px; font-weight:bold; font-family:"微软雅黑", "黑体"; color: #FF9900; padding-top:100px; margin-left:50px; }
.tips_b p.b { font-size:12px; color:#666666; height:140px; margin-left:50px; padding-top:10px; width:500px; }
.tips_b p.c { margin-left:50px; font-size:12px; }

.tips_c { background:url(../images/tip3.png); width:622px; height:355px; margin:0 auto; margin-top:150px; }
.tips_c p.a { font-size:24px; font-weight:bold; font-family:"微软雅黑", "黑体"; color: #FF0000; padding-top:100px; margin-left:50px; }
.tips_c p.b { font-size:12px; color:#666666; height:140px; margin-left:50px; padding-top:10px; width:500px; }
.tips_c p.c { margin-left:50px; font-size:12px; }

/*添加物件元素div*/
.add_div { background:url(../images/add_bg.png) repeat-x; height:70px; padding-left:10px; padding-top:4px; border:solid 1px #9fafc1; border-top:0px; }
.add_button { font-weight:bold; text-align:center; background:url(../images/add_bg2.png) left center no-repeat; color:#8d9cbc; height:63px; padding:0 15px; display:inline-block; float:left; }
.add_button img { margin-top:6px; margin-bottom:8px; margin-left:5px; margin-right:5px; cursor:pointer; }

.div_map { position:relative; }
.info_con { position:relative; width:100%; height:100%; }
.info_jiantou { background:url(../images/info_jiantou.png); width:14px; height:27px; position:absolute; top:50%; right:-14px; margin-top:-12px; }
.info_border { background:url(../images/info_bg.png); cursor:default; position:absolute; margin-left:14px; padding:10px; top:-20px; border:solid 4px #bbbbbb; }
.info_border p { line-height:20px; }
.close_info { background:url(../images/close2.png); width:24px; height:24px; right:-10px; top:-10px; position:absolute; cursor:pointer; display:block; }